*{
    /* background-color: rgb(170, 200, 201); */
    margin: 0;
    padding: 0;
}
.navigation{
    font-family: var(--font2);
    height: 74px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}
.nav-left{
    font-size: 17px;
    display: flex;
}

/* .nav-left span{
    padding-top: 10px;
} */
.nav-left img{
    margin-top: 5px;
    height: 240px;
    width: 200px;
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 50px;
    font-size: 20px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 30px ;
    font-family: var(--font1); 
    
}
.nav-left ul li a:hover{
    font-weight: bold;
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
    
}
.start-btn{
    background-color: rgb(66, 66, 66);
    color: antiquewhite;
    border-radius: 29px ;
    padding: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.start-btn:hover{
    padding: 20px;
    border-radius: 35px;
    background-color: black;
}
.content{
    height: 355px;
    display: flex;
    background-color: rgb(231, 237, 243);
    margin-top: 40px;
    padding: 13px;
    border-radius: 10px;
}
.content-left{
    font-family: var(--font1);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.content-left p{
    margin-top: 20px;
    
}
.content-right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 270px;
    width: 270px;
    margin-left: 80px;
    border-radius: 180px;
}
.home-articles{
    /* height: 455px; */
    /* background-color: rgb(177, 176, 176); */
    margin-top: 70px;
    position: relative;
}
/* .year-box{
    position: absolute;
    width: 234px;
    height: 255px;
    background-color: brown;
    right: 100px;
    top: 100px;
} */
.home-article{
    display: flex;
    margin-top: 30px;
}
.home-article-img img{
    height: 213px;
    width: 213px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}
.footer{
    height: 50px ;
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    margin-top: 70px;
}
.popup{
    width: 550px;
    padding: 30px;
    background-color: black;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    color: antiquewhite;
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.popup h2{
    font-family: var(--font1);
}
.popup button{
    width: 150px;
    height: 45px;
    margin-top: 30px;
    border-radius: 30px;
    font-family: var(--font1);
    font-weight: bold;
}
.openPop{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}